.sidebar{
     padding-left: 20px;
     padding-top: 60px;
     width: fit-content;
     padding-right: 5px;
     padding-bottom: 10px;
     position: fixed;
     float: left;
     height: 100vh;
     border-right: 2px solid rgb(226, 222, 222);

}
hr{
    text-align: center;
    color: black;
    margin-bottom: 6px;
}
.link img{
    width: 20px;
    height: 20px;
}
.link{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 15px;
}
.link .link-image{
    padding-right: 10px;
}
.link-title{
    margin-top: 10px;
}
.subscribed{
    display: flex;
}
.subscription .subscribed img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 4px;

}
.subscribed .name{
    padding-left: 6px;
    margin-top: 10px;

}
.short-sidebar{
     width: fit-content;
    
}
.short-sidebar .link-title{
    display: none;
}
.short-sidebar .subscribed .name{
     display: none;

}
.link{
    cursor: pointer;
}
.link.active{
    border-bottom: 2px solid rgb(160, 153, 153);
}